[submodule "licenses"]
	path = licenses
	url = https://github.com/winksaville/licenses.git
[submodule "vendor-install-tools"]
	path = vendor-install-tools
	url = https://github.com/winksaville/vendor-install-tools.git
[submodule "circleci-matrix"]
	path = circleci-matrix
	url = git@github.com:winksaville/circleci-matrix.git
